
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 50 100% 97%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 184 90% 52%;
    --primary-foreground: 210 40% 98%;

    --secondary: 9 91% 64%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 270 76% 85%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 184 90% 52%;

    --radius: 1rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 184 90% 52%;
    --primary-foreground: 210 40% 98%;

    --secondary: 9 91% 64%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 270 76% 85%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

.cartoon-shadow {
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.2);
}

.cartoon-border {
  border: 3px solid #000;
}

.price-tag {
  position: relative;
  padding: 10px 20px;
  background: #FDE1D3;
  border: 3px solid #000;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.2);
}

.price-tag:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -15px;
  width: 30px;
  height: 30px;
  background: #FDE1D3;
  border-left: 3px solid #000;
  border-bottom: 3px solid #000;
  transform: translateY(-50%) rotate(45deg);
  z-index: -1;
}

.bubble-text {
  position: relative;
  padding: 16px;
  background: white;
  border-radius: 24px;
  border: 3px solid black;
}

.bubble-text:after {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 30px;
  width: 30px;
  height: 30px;
  background: white;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  transform: rotate(45deg);
  z-index: -1;
}
